{#
SPDX-FileCopyrightText: 2020 Anuj Bansal <bansalanuj9@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}
    <section class="container">
        <h2> Project Details </h2>
        <div class="card">
            <h3 class="card-header card-heading">{{ project.title }}</h3>
            <div class="card-header">
                <p class="card-text"> {{ project.description|escape|markdown }}</p>
            </div>
            <div class="card-footer d-flex">
                <p class="card-text"> Student: <span class="ml-4">{{ project.student }}</span></p>
            </div>
            <div class="card-footer d-flex">
                Mentors:
                <ul class="d-flex">
                    {% for mentor in project.mentors %}
                        <li class="mr-5">{{ mentor }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    {% if date() > project.season.endWork %}
    <section class="container">
        <h2>Feedback</h2>

        {% if app.user.mentor or is_granted('ROLE_ADMIN') %}
            {{ form(mentorForm) }}
        {% endif %}
    </section>
    {% endif %}

    <section id="comment-container" class="container" data-showReply="{{ canReply }}">
        <h2> Comments </h2>
        {% set reply = form(replyForm) %}
        {% for comment in comments %}
            <div class="card mb-3 comment" data-id="{{ comment.id }}" data-form="{{ reply }}">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <strong> {{ comment.author }}</strong> -
                            <small> {{ comment.created | format_date('long', locale='en') }}</small>
                        </div>
                    </div>
                    <div>{{ comment.message }}</div>
                </div>
                {% for child in comment.children %}
                    <hr/>
                    <div class="card-body" data-id="{{ child.id }}">
                        <div class="d-flex flex-column">
                            <div>
                                <strong> {{ child.author }} </strong> -
                                <small> {{ child.created | format_date('long', locale='en') }}</small>
                            </div>
                        </div>
                        {{ child.message }}
                    </div>
                {% endfor %}
                <hr/>
            </div>
        {% endfor %}
    </section>

    {% if canReply %}
        <section class="container">
            <div class="card">
                <div class="card-header">
                    <strong>New comment</strong>
                </div>
                <div class="card-body">
                    {{ form(commentForm) }}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
